
<h1> <%= "#{@result["Title"]}" %>: Movie Poster</h1>
 
<img src= <%= "#{@result["Poster"]}" %> ></img>

<h3> Plot: <%= "#{@result["Plot"]}" %> </h3>
<h3> Released: <%= "#{@result["Released"]}" %> </h3>
<h3> Rated: <%= "#{@result["Rated"]}" %> </h3>
<h3> Runtime: <%= "#{@result["Runtime"]}" %> </h3>
<h3> Genre: <%= "#{@result["Genre"]}" %> </h3>
<h3> Director(s): <%= "#{@result["Director"]}" %> </h3>
<h3> Actors <%= "#{@result["Actors"]}" %> </h3>

<h4> Want even more info on "#{@result["Title"]}" %>? Check out the official <a href=http://www.imdb.com/title/<%= "#{@result["imdbID"]}" %> >IMDB page here.</a></h4>

<br />

<a href="/">New Search</a></body></html>'
  